

.card-header {
    font-size: 3rem;
}

.col-6 {
    background-color: #0066ff;
    border-radius: 5px;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 2rem;
    padding: 1vw 0 2vw 2vw;
    margin-top: 1vw;
}

.form-control {
    font-size: 3rem;
}

.container {
    width: 50%;
    margin: 0 auto;
    border: solid;
}

.card_expiry {
    border: solid;
}