.info {
    width: 60%;
    margin: auto;
}

.info__ttl {
    font-size: 3rem;
    margin-bottom: 2vw;
}

.info__content {
    width: 30%;
}

.ttl {
    font-size: 3rem;
}

.info__content--item {
    font-size: 2rem;
    margin-bottom: 0.5vw;
}
.form__subject {
    border: none;
    padding: 1vw;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
}

.form__subject--error {
    margin: 1vw 0 2vw 0;
}

.form__body {
    border: none;
    padding: 1vw;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
}

.form__btn {
    border: solid 3px #0066ff;
    box-shadow: 5px 5px #0066ff;
    background-color: white;
    font-size: 2rem;
    color: #454545;
    padding: 0.5vw 1vw 0.5vw 1vw;
    margin-top: 2vw;
    border-radius: 5px;
    cursor: pointer;
}

.form__btn:active {
    transform: translate(5px, 5px);
    background-color: #0066ff;
    box-shadow: none;
    color: white;
}

.error__message {
    display: inline;
    font-size: 2rem;
    padding: 1vw;
    background-color: #dc143c;
    border-radius: 5px;
    color: white;
}



@media (max-width: 768px) {
.info {
    width: 90%;
    margin: 0 auto;
}

.form__subject {
    padding: 3vw;
}

.form__body{
    resize: auto;
    max-width: 330px;
    max-height: 300px;
    min-width: 50px;
    min-height: 50px;
    padding: 3vw;
}

.form__btn {
    box-shadow: 2px 2px #0066ff;
    padding: 1vw 2vw 1vw 2vw;
}

.form__btn:active {
    transform: translate(2px, 2px);
}
}