.content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.shop {
    width: 46%;
}

.shop__header {
    display: flex;
    align-items: center;
}

.shop__header--rate {
    margin-left: 2vw;
}

.shop__name {
    font-size: 3rem;
}

.shop__date-time {
    font-size: 2rem;
}

.shop__img {
    object-fit: cover;
    width: 100%;
}

.shop__tag {
    display: flex;
}

.shop__area-genre {
    font-size: 1.6rem;
}

.shop__description {
    font-size: 1.6rem;
}



.review {
    width: 46%;
    background-color: #0066ff;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    position: relative;
}

.review__ttl {
    font-size: 3rem;
    color: white;
    margin: 1vw;
}

.review__date {
    width: 30%;
    padding: 0.5vw;
    border: none;
    border-radius: 5px;
    margin: 1vw;
    cursor: pointer;
}

.review__time {
    display: flex;
    align-items: center;
}

.review__time--time {
    width: 10%;
    padding: 0.5vw;
    border: none;
    border-radius: 5px;
    margin: 1vw;
    appearance: none;
    text-indent: 10px;
    cursor: pointer;
}

.review__time--colon {
    font-size: 2rem;
    color: white;
}

.review__time--minute {
    width: 10%;
    padding: 0.5vw;
    border: none;
    border-radius: 5px;
    margin: 1vw;
    appearance: none;
    text-indent: 10px;
    cursor: pointer;
}

.review__number {
    width: 80%;
    padding: 0.5vw;
    border: none;
    border-radius: 5px;
    text-indent: 10px;
    margin: 1vw;
    appearance: none;
    cursor: pointer;
}

.review__confirm {
    width: 80%;
    background-color: #6699ff;
    border-radius: 5px;
    margin: 1vw;
}

.review__confirm table {
    display: inline-block;
    padding: 0 0 1vw 1vw;
}

.review__confirm td {
    font-size: 1.5rem;
    padding-top: 1vw;
    color: white;
}

.review__confirm td:last-child {
    padding-left: 2vw;
}

.review__btn {
    width: 100%;
    border: none;
    background-color: blue;
    color: white;
    font-size: 2rem;
    padding: 1vw 0 1vw 0;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

.review__form {
    width: 100%;
}

.review__txt {
    font-size: 2.5rem;
    color: white;
    margin: 3vw 0 0 2vw;
}

.review__select {
    width: 20%;
    font-size: 2rem;
    padding: 0.5vw;
    border: none;
    border-radius: 5px;
    margin: 0.5vw 0 0 2vw;
    cursor: pointer;
}

.review__textarea {
    margin: 0.5vw 0 2vw 2vw;
    width: 100%;
    cursor: pointer;
}

.review__textarea--input {
    font-size: 2rem;
    color: #454545;
    padding: 1vw;
    border: none;
    border-radius: 10px;
    resize: auto;
    max-width: 90%;
}


input[type="date"]{
    position: relative;
}
input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

input[type="time"]{
    position: relative;
}
input[type=time]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

input {
    text-indent: 5px;
    width: 100%;
}




.review__area--btn {
    border: none;
    font-size: 1.5rem;
    background-color: #0066ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.form__subject--error {
    margin: 1vw 0 2vw 0;
}

.error__message {
    display: inline;
    font-size: 2rem;
    padding: 1vw;
    background-color: #dc143c;
    border-radius: 5px;
    color: white;
}

.reserve__date--error {
    margin: 1vw;
}


@media (max-width: 768px) {
.content {
    display: inherit;
}



.shop {
    width: 95%;
    margin: 0 auto 6vh;
}

.shop__header {
    display: inherit;
}

.shop__date-time {
    font-size: 2rem;
    margin-top: -3vw;
}



.review {
    width: 95%;
    margin: 0 auto 5vh;
    padding-top: 2vh;
}

.review__ttl {
    margin-left: 3vw;
}

.review__txt {
    margin-left: 3vw;
}

.review__select {
    margin-left: 3vw;
}

.review__textarea--input {
    resize: auto;
    max-width: 90%;
    margin: 0 0 7vh 1vw;
}
}