.content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.left {
    width: 47%;
}

.left__ttl {
    font-size: 3.5rem;
}

.left__shop {
    margin-bottom: 3vw;
    border: solid;
    border-radius: 10px;
    padding: 0 1vw 0 1vw;
}

.left__name {
    font-size: 3rem;
}

.left__date-time {
    font-size: 3rem;
}

.left__img {
    object-fit: cover;
    width: 100%;
}

.left__tag {
    display: flex;
}

.left__area-genre {
    font-size: 1.6rem;
}

.left__description {
    font-size: 1.6rem;
}

.right {
    width: 47%;
}

.right__content {
    margin-bottom: 6vw;
    border: none;
    border-radius: 10px;
    padding: 1vw;
    background-color: #0066ff;
    color: white;
}

.right__ttl {
    font-size: 3.5rem;
}

.right__name {
    font-size: 2rem;
}

.right__input {
    width: 50%;
    font-size: 2rem;
    border: none;
    padding: 0.5vw;
    cursor: pointer;
    border-radius: 5px;
    margin-top: -3vh;
}

.right__textarea {
    width: 80%;
    font-size: 2rem;
    border: none;
    padding: 0.5vw;
    cursor: pointer;
    border-radius: 5px;
    margin-top: -1vh;
}

.right__file {
    font-size: 2rem;
    cursor: pointer;
}

.right__btn {
    text-decoration: none;
    border: solid #454545 3px;
    background-color: white;
    font-size: 2rem;
    color: white;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-radius: 5px;
    cursor: pointer;
    color: #454545;
	box-shadow: 5px 5px #454545;
    margin-top: 4vh;
}

.right__btn:active {
    box-shadow: none;
	transform: translate(5px, 5px);
	color: #eee;
    background-color: #454545;
}

.form__subject--error {
    margin: 1vw 0 2vw 0;
}

.error__message {
    display: inline-block;
    font-size: 2rem;
    padding: 1vw;
    background-color: #dc143c;
    border-radius: 5px;
    color: white;
    margin-top: 1vh;
}



@media (max-width: 768px) {
    .content {
        display: inherit;
    }

    .left {
        width: 100%;
        margin: auto;
    }

    .left__ttl {
        font-size: 2.5rem;
    }

    .right {
        width: 100%;
        margin: auto;
    }

    .right__ttl {
        font-size: 2.5rem;
    }

    .right__content--item {
        margin-left: 3vw;
    }

    .right__content--item:last-of-type {
        margin: 3vh 0 3vh 3vw;
    }

    .right__input {
        width: 80%;
        padding: 1vh;
    }

    .right__file {
        font-size: 1.8rem;
        cursor: pointer;
    }

    .right__btn {
        padding: 1vw 2vw 1vw 2vw;
        box-shadow: 3px 3px #454545;
    }
}