.shop-name {
    font-size: 3rem;
    text-align: center;
}



.ttl {
    font-size: 3rem;
    text-align: center;
}



.today {
    width: 90%;
    margin: 2vw auto 2vw;
    padding: 1vw;
    background-color: beige;
    border-radius: 10px;
}

.future {
    width: 90%;
    margin: 2vw auto 2vw;
    padding: 1vw;
    background-color: azure;
    border-radius: 10px;
}

.past {
    width: 90%;
    margin: 2vw auto 2vw;
    padding: 1vw;
    background-color: #ccc;
    border-radius: 10px;
}

.content {
    font-size: 2rem;
}

.content--head {
    display: flex;
    padding: 1vw 0 0.5vw 0;
    border-bottom: #454545 solid 1px;
}

.content--item {
    display: flex;
    padding: 0.5vw 0 0.5vw 0;
    border-bottom: #454545 solid 1px;
}

.name {
    width: 15%;
    margin-left: 1vw;
}

.date {
    width: 15%;
}

.date__mobile {
    display: none;
}

.time {
    width: 10%;
}

.number {
    width: 10%;
}

.email {
    width: 45%;
}

.btn {
    text-decoration: none;
    border: none;
    background-color:  #0066ff;
    color: white;
    border-radius: 5px;
    padding: 0.3vw 0.5vw 0.3vw 0.5vw;
    cursor: pointer;
}



@media (max-width: 768px) {
.ttl {
    font-size: 2.5rem;
}

.content {
    font-size: 1rem;
}

.content--head {
    display: flex;
    padding: 1vw 0 0.5vw 0;
    border-bottom: #454545 solid 1px;
}

.name {
    width: 15%;
    margin-left: 1vw;
    text-align: center;
}

.date {
    display: none;
}

.date__mobile {
    display: block;
    width: 11%;
    text-align: center;
}

.time {
    width: 11%;
    text-align: center;
}

.number {
    width: 10%;
    text-align: center;
}

.email {
    width: 45%;
}
}