.content {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    border: solid;
}

.content__ttl {
    font-size: 2.5rem;
    margin-top: 5vw;
}

.content__btn {
    border: none;
    border-radius: 5px;
    background-color: #0066ff;
    color: white;
    font-size: 1.5rem;
    padding: 0.5vw 1vw 0.5vw 1vw;
    margin: 1vw 0 3vw 0;
    cursor: pointer;
}

@media (max-width: 768px) {
    .content {
        width: 90%;
    }

.content__btn {
    font-size: 1.8rem;
    padding: 1vw 3vw 1vw 3vw;
    margin: 0 0 3vw 0;
}
}