table {
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
}
tr {
    border-bottom: solid;
    padding-bottom: 1vw;
}

.name {
    width: 20%;
    text-align: left;
}

.role {
    width: 15%;
    text-align: left;
}

.mail {
    text-align: left;
}

.btn {
    text-decoration: none;
    border: none;
    background-color:  #0066ff;
    color: white;
    border-radius: 5px;
    padding: 0.3vw 0.5vw 0.3vw 0.5vw;
}