.content {
    width: 40vw;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

.content__ttl {
    width: 100%;
    background-color:  #0066ff;
    color: white;
    font-size: 2rem;
    border-radius: 5px 5px 0 0;
    padding: 1vw 0 1vw 1vw;
}

.verify {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 3vw;
}

.verify__form {
    margin-bottom: 4vh;
    width: 90%;
    margin: auto;
}

.verify__btn {
    border: none;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-radius: 5px;
    background-color: #0066ff;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}



@media (max-width: 768px){
    .content {
        width: 90%;
    }

    .content__ttl {
        padding: 1vw 0 1vw 3vw;
    }

    .verify__btn {
        padding: 2vw;
    }
}