.content {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    border: solid;
}

.content__ttl {
    font-size: 4rem;
    margin-top: 3vh;
}

.content__txt {
    font-size: 2.5rem;
}

.content__btn {
    color: #454545;
    border: solid 3px #0066ff;
    border-radius: 5px;
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.3vw 0.7vw 0.3vw 0.7vw;
    margin: 1vw 1vw 3vw;
    cursor: pointer;
    box-shadow: 2px 2px #0066ff;
}

.content__btn:active {
    color: white;
    box-shadow: none;
    transform: translate(3px, 3px);
    background-color: #0066ff;
}

@media (max-width: 768px) {
    .content {
        width: 90%;
    }

.content__btn {
    font-size: 1.8rem;
    padding: 1vw 3vw 1vw 3vw;
    margin: 0 2vw 3vw;
}
}